@charset "utf-8";
/* CSS Document */
/*font-family: 'Cormorant', serif; body type*/
/*font-family: 'Roboto', sans-serif; titel type*/
/*---------------------------------  GENERELLE OPSÆTNINGER  ---------------------------------*/
*{
	margin:0;
	padding:0;
	}

body {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6, p, span, a, button {
	font-family: 'Roboto', sans-serif;
}
/*---------------------------------  NAVIGATIONS LINJEN START  ---------------------------------*/
.header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	}

.nav-bar {
	width:100%;
	display: flex;
	justify-content:flex-end;
	height: 60px;	
	overflow: hidden;
	padding-right: 25px; 
	padding-top: 30px;
}
.nav-bar a span:hover {
	border-bottom: 2px solid #f8b2ca;
}
.nav-bar a span {
	padding: 0 10px 0 10px;
}
.header a {
	text-decoration: none;
	font-weight: thin;
	color: #5E5E5E;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
	text-transform: uppercase;
}

#nav { 
	transition: .5s; /*on scroll*/
}
.current span {
	font-weight: 600;
	color: #f8b2ca; 
}
/*---------------------------------  NAVIGATIONS LINJEN END  ---------------------------------*/

			
		/*-------------------------------  HERO IMAGE  -------------------------------*/
.hero, .hero_om {
	width: 100%;
	display: flex;
	justify-content: center;
	background-size: 100%;
	background-position: fit;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.hero {
	height: 100vh;
	align-items: center;
	text-align: center;
	background-image: url("../images/heroimg-03.jpg");
}
.hero_om {
	height: 70vh; 
	background-image: url("../images/hero-om.jpg");
 }
.hero_droem {
	width: 80%;
	margin: 0 10%;
	height: auto;
	height: 98.2vh;
	/*height: 440px;*/
	display: flex;
	justify-content: center;
	background-image: url("../images/2-02.jpg");
    background-size: 100%;
    background-position: fit;
}
.hero h1{
	font-size: 5em; 
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	margin-top: 100px;
}
.hero_om h1 {
	font-size: 2.8em; 
	font-weight: 500;
	letter-spacing: 1px;
	color: white;
	margin-top: 100px;
}
.hero h2{
	color: white;
	text-transform: uppercase;	
}

		/*  CONTENT BOX UNDER HERO IMAGE */
.index-title {
	text-align: center;
	margin: 80px 0 50px 0;
	color: #5e5e5e;
	
}

		/* --------------------------------  PAGE TITEL START  --------------------------------*/

.page_titel {
	margin-top: 150px;
	text-align: center;
	font-weight: normal;
	color:hsla(0,0%,37%,1.00);
}
.page_discribtion {
	margin-top: 50px;
	text-align: center;
	color:hsla(0,0%,37%,1.00);
	line-height: 30px;
}

	/* --------------------------------  PAGE TITEL END  --------------------------------*/

	.flex-index-container{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row wrap;
		justify-content: space-between;
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}
	.flex-index-item {
		flex-basis: 28%; /*bestemmer breden på flex-item*/
		margin-top: 30px;
		padding: 10px;
		background: #f4f4f4;
	}
	.flex-index-item img {
		width: 100%;
	}
	.flex-index-item h4 {
		padding-top: 15px;
		color: #5e5e5e;
		text-align: center;
		width: 100%;
	}

/*---------------------------------  ARBEJDE-GALLERY START  ---------------------------------*/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 100%;
	margin-top: 60px;
 }

.flex-container>div {
	max-width: 600px;
}
.img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	filter: grayscale(100%);
	transition: .4s;
}
.flex-container a:hover>img {
	filter: grayscale(0%)
	/*box-shadow: 0 0px 10px rgba(74,73,73,1.00);*/
	/*outline: 8px solid #BAFAEF;*/ /*IKKE SIKKER PÅ OM DET SKAL VÆRE SHADOW ELLER OUTLINE*/
}
	/*---------------------------------  ARBEJDE-GALLERY END  ---------------------------------*/

	/*------------------------------  PROJECT DETAILS TITEL START  ------------------------------*/
.table_details_header {
	width: 80%;
	margin-top: 150px;
	margin-left: 10%;
	margin-right: 10%;
 }
tbody {
	width: 100%;
	margin-top: 100px;
}
.table_details_header tr{
	width: 50%;
}
.back button {
	padding: 8px 15px;
	border: none;
	background: #f8b2ca;
	color: white;
	border-radius: 15px;
}
.titel h1{
	text-align: center;
	margin-top: 40px;
	text-transform: uppercase;
	color: #5e5e5e; 
}

/*INDHOLD PÅ SIDEN KOMMER HER*/
#myBtn {
	position: fixed; 
	bottom: 20px; 
	right: 0px; 
	z-index: 99; 
	border: none;
	background-color: #F8B2CA; 
	color: #FFFFFF; 
	cursor: pointer;
	padding: 12px 30px 12px 20px; 
	border-radius: 20px 0 0 20px; 
	font-size: 16px;
	font-weight: 300;
	transition: .4s;
	
}

#myBtn:hover {
	padding: 12px 43px 12px 7px;
}
.arrow-up {
	font-size: 20px;
}
/*---------------------------------  PROJECT DETAILS TITEL END  ---------------------------------*/


/*--------------------------------------  SLIDESHOW START  --------------------------------------*/

/* Slideshow container */
.slideshow-container {
	width: 80%;
	height: 70%;
	position: relative;
	margin: 40px auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.dark-prev, .dark-next {
	color: black;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	background: hsla(0,0%,0%,0.80);
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 0px;
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.img-slide-size {
	  width:100%;
}

.dot-div {
	text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #F8b2ca; /*#717171*/
}

/*--------------------------------------  SLIDESHOW END  --------------------------------------*/

/*------------------------------------  PROJECT BODY START  ------------------------------------*/









	/*------------------------------------  PROJECT BODY END  ------------------------------------*/

	/*------------------------------------  LEARNING START  ------------------------------------*/

		/* STICKY LEFT NAV START */
.leftside_nav ul {
	width: 100px;
	position: absolute;
}
.leftside_nav {
	position: fixed;
	top:25%;
	z-index: 998;
}
.leftside_nav li {
	list-style-type: none;
	padding: 18px 20px;
	transition: .6s;
	position: relative;
	margin-bottom: 10px;
	border-radius: 0 18px 18px 0;
}
.leftside_nav li a {
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	color: #fff;
}
.leftside_nav li:hover {
	padding: 18px 0px 18px 40px;	
}
.leftside_nav li:nth-child(1){
	background: #f8b2ca;
}
.leftside_nav li:nth-child(2){
	background: #f8b2ca;
}
.leftside_nav li:nth-child(3){
	background: #f8b2ca;
}
.leftside_nav li:nth-child(4){
	background: #f8b2ca;
}
.leftside_nav li:nth-child(5){
	background: #f8b2ca;
}
		/* STICKY LEFT NAV END */

.placeholder {
	width: 100%;
	height: 400px;
	background: #99BDF8;
	margin-top: 30px;
}
.col-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row wrap;
	justify-content: space-around;
	/*list-style: none;*/
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
.flex-item {
	flex-basis: 450px; /*bestemmer længden på flex-item*/
	margin-top: 30px;
	padding: 10px;
}
.flex-item a {
	text-decoration: none;
}
.flex-item p {
	line-height: 25px;
	color: #5e5e5e;
}

.opg_bes_btn button{
	display: inline;
	padding: 10px;
	border-radius: 15px;
	border: 5px solid #F8B2CA;
	color: white;
	background: #f8b2ca; 
	margin: 20px 5px 20px 0px;
	cursor: pointer;
}
.under_titler{
	margin: 20px 0;
	color: #5e5e5e;
	padding-right: 15px;
}
.rel_opg p{
	text-decoration: underline;
	color: #F8B2CA;
	font-weight: normal;
}
.inline-link {
	color: #F8B2CA;
}
.program_icons {
	width: 45px;
	margin: 15px 10px 15px 0;
}
.fancy-box{
	width: 60%;
	padding: 1%;
	margin: 10px auto;
}
		/*FLOW 3 START*/

		/*FLOW 3 END*/


 /* iphone */
@media screen and (min-width: 320px) and (max-width: 500px){
	.col-container {
		display: block;
	}
}
/* ipad*/
@media screen and (min-width: 320px) and (max-width: 1024px){
	.flex-item {
	flex-basis: 300px;
	}
}



	/*-------------------------------------  LEARNING END  -------------------------------------*/


	/* ------------------------------------  TIMELINE START  ------------------------------------*/
		/* TIMELINE CSS */
.timeline {
	position:relative;
	margin: 50px auto;
	padding: 40px 0;
	width: 1000px;
	box-sizing: border-box;
}
.timeline:before {
	content: '';
	position: absolute;
	left: 50%;
	width: 1.5px;
	height: 100%;
	background: #5e5e5e;
}
.timeline ul{
	margin: 0;
	padding: 0;
}
.timeline ul li{
	line-height: normal;
	position: relative;
	width: 50%;
	padding: 30px 50px;
	box-sizing: border-box;
	list-style: none;
}
.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}
.timeline ul li:nth-child(even){
	float: right;
	text-align: left;
	clear: both;
}
.content{
	padding-bottom: 20px;
}
.content p {
	color: #5e5e5e;
}
.timeline ul li:nth-child(odd):before{
	content: '';
	position: absolute;
	top:24px;
	right: -6px;
	width: 10px;
	height: 10px;
	background: rgba(248,180,204,1.00);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(248,180,204,0.5);
}
.timeline ul li:nth-child(even):before{
	content: '';
	position: absolute;
	top:24px;
	left: -4px;
	width: 10px;
	height: 10px;
	background: rgba(248,180,204,1.00);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(248,180,204,0.5);
}
.timeline ul li h3 {
	margin: 0;
	padding: 0; 
	font-weight: 500;
	color: #5e5e5e;
}
.timeline ul li p {
	margin: 10px 0 0;
	padding: 0;
}
.timeline ul li .time h4 {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.timeline ul li:nth-child(odd) .time{
	position: absolute;
	top: 12px;
	right: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(248,180,204,1.00);
	color: #fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(248,180,204,0.5);
}
.timeline ul li:nth-child(even) .time{
	position: absolute;
	top: 12px;
	left: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(248,180,204,1.00);
	color: #fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(248,180,204,0.5);
}
@media (max-width: 1000px){
	.timeline{
		width: 100%;
	}
}
@media (max-width: 767px){
	.timeline{
		width: 100%;
	}
	.timeline:before{
		left: 20px;
		top: 10px;
	} 
	.timeline ul li:nth-child(even), .timeline ul li:nth-child(odd){
		width: 100%;
		text-align: left;
		padding-left: 50px;
		padding-bottom: 50px;
	}
	.timeline ul li:nth-child(odd):before, .timeline ul li:nth-child(even):before{
		top: -20px;
		left: 16px;
	}
	.timeline ul li:nth-child(even) .time, .timeline ul li:nth-child(odd) .time{
		top: -30px;
		left: 60px;
		right: inherit;
	}
}
	/* ------------------------------------  TIMELINE END  ------------------------------------*/

	/* ------------------------------------  CONTACT START  ------------------------------------*/
.map iframe{
	margin-left: 34.5%;
	margin-top: 20px;
}
.contact_form {
	margin-top: 35px;
}

.contact_form button {
	margin-left: 46%;
	margin-top: 20px;
	padding: 10px 32px;
	border-radius: 25px;
	font-size: 16px;
	background: #f8b2ca;
	border: none;
	color: #FFFFFF;
	
}
.contact_form input {
	position: relative;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 0px);	
	font-size: 15px;
}
input {
	width: 50%;
	margin: 20px 0;
	background: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid #5e5e5e;
}

#bsk {
	margin-top: 40px;
}
/* ------------------------------------  CONTACT END  ------------------------------------*/

/*------------------------------------------  FOOTER  ------------------------------------------*/
footer{
	height: 70px;
	background: #f4f4f4;
	margin-top: 100px;
}
.copyright {
	margin-left: 40px;
	padding-top: 30px;
}
footer h5 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color:hsla(0,0%,37%,0.76); 
}
#sinem-cift{
	color: #f8b2ca;
}
